user  www-data;

error_log  /var/log/nginx/error.log warn;
pid        /run/nginx.pid;

{% if nginx_worker_processes is not defined and ansible_processor_vcpus > 1 %}
worker_processes "{{ansible_processor_vcpus//2}}";
{% elif nginx_worker_processes is not defined and ansible_processor_vcpus == 1 %}
worker_processes "1";
{% else %}
worker_processes {{nginx_worker_processes}};
{% endif %}


events {
    worker_connections {{workerConnektions}};
    multi_accept off;
}

http {
    
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server_names_hash_bucket_size 64;

    client_max_body_size 64m;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                       '$status $body_bytes_sent "$http_referer" '
                       '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log main buffer=16k flush=2m;

    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;

    keepalive_timeout  65;
    keepalive_requests 100;

    server_tokens on;

    gzip on;



    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;

    }

